<main class= 'p-5 text-light'>
  <h3><%= @job.name%> <span>(Category: <%= @job.category%>)</span></h3>
  <hr>

  <h4>Job details:</h4>
  <p><%= @job.description%></p> 

  <div class="employer">
    <h5>Employer details:</h5>
    <p>Name:  <span><%= @creator.name%></span></p>
    <p>Email: <span><%= @creator.email%></span></p>
  </div>
  <h6><%= dateExpire(@job)%></h6>
  <br>
  
  <%= link_to 'APPLY NOW', new_job_application_path(id: @job.id), class:"apply-btn" %>

  
  <% if @job.creator_id == current_user.id %>
  <%= link_to 'Edit', edit_job_path(@job) %> |
  <%= link_to 'Back', jobs_path %>
  <%= link_to 'Delete' %>
  <% end %>
</main>

