<p id="notice"><%= notice %></p>

<h3><%= @job.name%> <span>(Category: <%= @job.category%>)</span></h3>


<h4>Job details:</h4>
<p><%= @job.description%></p> 

<div class="employer">
  <h5>Employer details:</h5>
  <p>Name:  <span><%= @creator.name%></span></p>
  <p>Email: <span><%= @creator.email%></span></p>
</div>
<h6><%= dateExpire%></h6>
<br>
<div class="apply-btn">
<%= link_to 'APPLY', new_job_application_path(id: @job.id), class:"btn" %>

</div>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
