<h1>Dear <%= @employer.name %>,</h1>

<p>You just recieved new applicaiton</p>
<p> Candidate details: </p>
<p>Name: <%= @job_application.name %></p>
<p>email: <%= @job_application.email %></p>
<p>birth: <%= @job_application.birth_date %></p>
<p>qualifications: <%= @job_application.professional_qualifications %></p>
<p>Address: <%= @job_application.address %></p>
<p>Phone: <%= @job_application.phone %></p>


<p>Best regards</p>
