<!DOCTYPE html>
<html>
  <head>
    <title>Jobfinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Add fontawesome cdn -->
    <script src="https://kit.fontawesome.com/6abfc73bc9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-none">
      <%= display_notice %>
      <%= display_alert %>
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#"><h1 class= "m-0" >JobFinder</h1></a>
        <button class="my-navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Jobs list', jobs_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= my_offers %>
            </li>        
            <li class="nav-item">
              <%= signup %>
            </li>
            <li class="nav-item">
              <%= login_logout %>
            </li>
          </ul>
          
        </div>
      </div>
    </nav> 
    <%= yield %>
  </body>
  <footer>
    <p> &copy; 2021 <%= link_to 'Shinobi', 'https://shinobiwarior.github.io/Personal_Portfolio/' %> </p>
  </footer>
</html>
